---
layout: default
overview: true
---

<section class="cover">
	<div class="grid">
		<div class="unit w-1-1 align-center">
			<img src="/img/cover.jpg">
		</div>
	</div>
</section>
<section class="slider_outer">
	<div class="slider">
		{% for section in site.data.slider %}
		<div class="img_container">
			<img src="/img/album/{{ section.source }}">
			<div class="overlay"></div>
			<div class="description hide-on-mobiles">
				<p>
					{{ section.description }}	
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section class="main_product">
	<div class="grid">
		<div class="unit w-1-1 align-center">
			<div class="title">SẢN PHẨM NỔI BẬT</div>
		</div>
	</div>
	<div class="grid">
		<div class="unit w-1-1">
			<div class="show">
				<div class="grid">
					{% for section in site.data.category %}
						{% for child in section.child %}
							{% for item in child.product %}
								{% assign link = section.path %}
								{% assign link = link | append: "/" %}					
								{% assign link = link | append: child.path %}
								{% for x in site.data.main_product %}
									{% if item.path == x %}
										{% include short_cut.html %}
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					{% endfor %}					
				</div>
			</div>
		</div>
	</div>
</section>