---
layout: default
overview: true
---

<section class="cover">
	<div class="grid">
		<div class="unit w-1-1 align-center">
			<img src="/img/cover.jpg">
		</div>
	</div>
</section>
<section class="slider_outer">
	<div class="slider">
		{% for section in site.data.slider %}
		<div class="img_container">
			<img src="/img/album/{{ section.source }}">
			<div class="overlay"></div>
			<div class="description hide-on-mobiles">
				<p>
					{{ section.description }}	
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section class="main_product">
	<div class="grid">
		<div class="unit w-1-1 align-center">
			<div class="title">SẢN PHẨM NỔI BẬT</div>
		</div>
	</div>
	{% assign items = site.data.main_product %}
	{% include show.html %}
</section>