<footer>
	<section id="ending">
		<div class="grid">
			<div class="unit w-1-3 center-on-mobiles">
				<div class="title">
					Về Skinsolophy
				</div>
				<div class="items">
					<div class="about">
						Thương hiệu mỹ phẩm thiên nhiên <a href="https://www.facebook.com/skinlosophyhanoi/">Skinlosophy</a> là một sự kết hợp giữa nền Đông Y lâu đời và khoa học hiện đại. <a  href="https://www.facebook.com/skinlosophyhanoi/">Skinlosophy</a> tối ưu hóa quyền năng của thảo dược, phù hợp cho cả bà bầu, trẻ em và những làn da nhạy cảm!
					</div>
				</div>
			</div>
			<div class="unit w-1-3 center-on-mobiles">
				<div class="title">
					Chính sách
				</div>
				<div class="items">
					<ul>
						<li>Quy định và hình thức thanh toán</li>
						<li>Chính sách vận chuyển, giao nhận</li>
						<li>Chính sách đổi/trả hàng và hoàn tiền</li>
						<li>Chính sách bảo mật và chia sẻ thông tin</li>
					</ul>
				</div>
			</div>
			<div class="unit w-1-3 center-on-mobiles">
				<div class="title">
					Liên hệ
				</div>
				<div class="items">
					<ul>
						<li>Địa chỉ: Số 6, Hoàng Cầu, Ô Chợ Dừa, Đống Đa, Hà Nội</li>
						<li>Facebook: <a href="https://www.facebook.com/skinlosophyhanoi/">skinlosophyhanoi</a></li>
						<li>Email: <a href="mailto:skinlosophy.hn@gmail.com?subject=subject&cc=cc@example.com">skinlosophy.hn@gmail.com</a></li>
						<li>Gọi: <a href="tel:+841692203168"">+84 169 220 3168</a></li>
					</ul>
				</div>
			</div>
		</div>		
	</section>
</footer>