<header>
	<section class="top-1">
		<div class="grid">
			<div class="unit w-1-2 align-left hide-on-mobiles">
					{% include search/input.html%}
			</div>
			<div class="unit w-1-2 align-right center-on-mobiles">
				<nav>
					{% include secondary-nav-items.html %}
				</nav>
			</div>
		</div>
	</section>
	<section class="top-2">
		<div class="grid">
			<div class="unit w-1-1 align-center">
				<a href="">
					<img src="/img/logo.png" width="588.3" height="94.5" href="{{site.url}}">
				</a>
			</div>
		</div>
	</section>
	<section class="top-3">
		<div class="grid">
			<div class="unit w-1-1 align-center">
				<nav>
					{% include primary-nav-items.html %}
				</nav>
			</div>
		</div>
	</section>
</header>