<div class="grid show">
	{% for item in items %}
		{% for post in site.product %}
			{% assign str = post.path | split: "/" %}
			{% assign str = str.last | remove: ".md" %}
			{% if item ==  str %}
				{% assign link = post.path | replace: ".md", ".html"%}
				{% assign link = link | replace: "_product", "product" %}
				<div class="unit w-1-2">
					<a href="{{site.url}}/{{ link }}">
						<img src="/img/product/{{post.source}}">
						<p>{{ post.name }}</p>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>

