/*	Base */

html{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	// font:
	// color:
	// background-color: 
	margin: 0;
}

.clear {
	display: block;
}

.clear:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Section */

header,
section,
footer{
	float: left;
	width: 100%;
	clear: both;
}

/* Header */

header{
	nav {
		display: inline-block;
		ul{
			padding: 0;
			margin: 0;
			white-space: nowrap;
			display: inline-block;
		}
		li{
			display: inline-block;
		}
	}
}

