/*	Base */

html{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	// font:
	font-family: 'Roboto Condensed', sans-serif;
	// color:
	// background-color: 
	margin: 0;
}

.clear {
	display: block;
}

.clear:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Section */

header,
section,
footer{
	float: left;
	width: 100%;
	clear: both;
}

/* Header */
header{
	nav {
		display: inline-block;
		ul{
			padding: 0;
			margin: 0;
			white-space: nowrap;
			display: inline-block;
		}
		li{
			display: inline-block;
		}
	}
	.top-1{
		background-color: #414a39;
		padding: 2px;
		.grid{
			height: 50px;
		}
		.grid nav{
			margin-top: 5px;
		}
		a{
			text-decoration: none;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;
			margin: 0px 0px 0px 30px;
		}
	}
	.top-2{
		margin: 20px 0px;
	}
	.top-3{
		.menu{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			.dropdown{
				float: left;
				.dropbtn{
					display: inline-block;
					color: #333;
					font-weight: 400;
					font-size: 18px;
					text-transform: uppercase;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
				}
				.dropbtn:hover{
					color: #E15452;
				}
				.dropdown-content{
					opacity: 0;
					margin-top: 8px;
					position: absolute;
					background: #fff;
					min-width: 200px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
					text-align: left;
					a{
						color: black;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						text-align: left;
						li{
							font-size: 18px
						}
					}
					a:hover{
						background-color: #fff;
						color: #E15452;
					}
				    -webkit-transition: all 0.2s ease;
				    -moz-transition: all 0.2s ease;
				    -o-transition: all 0.2s ease;
				    transition: all 0.2s ease;
				}
			}
			.dropdown:hover{
				.dropdown-content{
					margin-top: 0px;
					opacity: 1;
				}
			}
		}
	}
}
/* End Header */

/* Body */

/* Index */

/* Cover*/
.cover{
	.unit{
		padding: 0!important;
	}
}
/* End Cover*/

/* Slider */
@keyframes slidy {
	0% { left: 0%; }
	7% { left: 0%; }
	14% { left: -25%; }
	21% { left: -25%; }
	28% { left: -50%; }
	35% { left: -50%; }
	42% { left: -75%; }
	49% { left: -75%; }
	56% { left: -100%; }
	63% { left: -100%; }
	70% { left: -125%; }
	77% { left: -125%; }
	84% { left: -150%; }
	91% { left: -150%; }
	100% { left: 0%; }
}

.slider_outer{
	overflow: hidden;
	.slider{
		position: relative;
		width: 250%;
		margin: 0;
		left: 0;
		text-align: left;
		animation: 20s slidy ease infinite;
		-webkit-animation: 20s slidy ease infinite;
		.img_container{
			width: 10%;
			float: left;
			margin-bottom: -5px;
			position: relative;
			img{
				width: 100%;
				height: auto;
			}
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(255, 255, 255, 0.2);
				opacity: 0;
			}
			.description{
				background-color: #00000042;
				padding: 10px 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				-webkit-transition: padding-bottom 0.5s ease;
			    transition: padding-bottom 0.5s ease;
				p{
					color: #fff;
					font-size: 15px;
					font-weight: 600;
				}
			}
		}
		.img_container:hover{
			.description{
				padding-bottom: 30px;
				-webkit-transition: padding-bottom 0.5sease;
			    transition: padding-bottom 0.5s ease;
			}
			.overlay{
				opacity: 1;
			}
		}
		@media screen and (max-width: 1000px) {
			.img_container{
				.description{
					padding: 5px 10px;
					p{
						font-size: 11px;
					}
				}
			}
		}
	}
}
/* End slider */

/* Main Product*/
.main_product{
	margin-top: 20px;
	.title{
		border-top: 1px #000 solid;
		h2{
			font-size: 30px;
			font-weight: 100;
		}
	}
}
/* End Main Product */

/* End index */

/* End Body */

/* Footer */
footer{
	margin-top: 10px;
	h3{
		font-size: 20px;
		font-weight: 700;
	}
	.grid{
		border-top: 1px #000 solid;
	}
}
/* End Header */