---
layout: default
---

<div class="grid">
	<div class="unit w-4-5">
		{% assign items = NULL %}
		{% assign url = page.path  | split: "/" %}
		{% for section in site.data.category %}
		{% if url[1] contains section.path %}
			{% for child in section.child %}
			{% if url[2] contains 'index.html' or url[2] contains child.path %}
				{% assign items = items | concat: child.product%}
			{% endif %}
			{% endfor %}
		{% endif %}
		{% endfor %}

		{% include show.html %}
	</div>
	{% include category.html %}
	<div class="clear"></div>
</div>