---
layout: default
---

{% include breadcrumb_view.html %}
<section class="product">
	<div class="grid">
		{% include category.html %}
		<div class="unit w-4-5">
			<div class="grid">
				<div class="unit w-1-2">
					<div class="image">
						{% assign fn = page.path | split: "/" %}
						{% assign fn = fn.last | remove: ".md" %}
						<img src="../../../img/product/{{ fn }}.jpg">
					</div>
					
				</div>
				<div class="unit w-1-2">
					<div class="name">{{ page.name }}</div>
					<div class="size">
						<span style="margin-right: 10px; color: #333;">Size:</span>
						<span>{{ page.size }}</span>
					</div>
					<div class="price">{{ page.price }}</div>
					<button id="addToCart">THÊM VÀO GIỎ</button>
					<div class="detail">
						<div class="title">
							<label>
								<i class="fa fa-caret-down"></i>   Chi tiết sản phẩm
							</label>
						</div>
						<div class="content">
							{{ page.content }}
						</div>
					</div>
					<div class="use">
						<div class="title">
							<label>
								<i class="fa fa-caret-down"></i>   Hướng dẫn sử dụng
							</label>
						</div>
						<div class="content">
							{{ page.use }}
						</div>
					</div>
					<div class="ingredient">
						<div class="title">
							<label>
								<i class="fa fa-caret-down"></i>   Thành phần
							</label>
						</div>
						<div class="content">
							{{ page.ingredient }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<script type="text/javascript">
	function setCookie(cname, cvalue, exdays){
		var d = new Date();
		d.setTime(d.getTime() + (exdays*24*60*60*1000));
		var expires = "expires" + d.toGMTString();
		document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	function getCookie(cname){
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++){
			var c = ca[i];
			while(c.charAt(0) == ' '){
				c = c.substring(1);
			}
			if(c.indexOf(name) == 0){
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}

	function checkCookie(){
		var cartStr = getCookie("cart");
		var cartObj = [];
		var i= "";
		var on=false;
		if(cartStr != ""){
			//there is at least one object in cart
			cartObj = JSON.parse(cartStr);
			//check if object in cartObj or not
			for(i in cartObj){
				if(cartObj[i].name == "{{ fn }}"){
					on = true;
				}
			}
		}
		if(on == false){
			cartObj.push({name:"{{ fn }}",quantity: 1});
		}
		cartStr = JSON.stringify(cartObj);
		setCookie("cart", cartStr, 365);
		window.location = "{{ site.url }}/cart";
	}

	document.getElementById("addToCart").addEventListener("click", function(event){
		checkCookie();
	    event.preventDefault();
	});
</script>