---
layout: default
---

<section class="product">
	<div class="grid">
		{% include category.html %}
		<div class="unit w-4-5">
			<div class="grid">
				<div class="unit w-g-s">
					<img src="../../../img/product/{{ page.source }}">	
				</div>
				<div class="unit w-g-l">
					<div class="name">{{ page.name }}</div>
					<div class="price">{{ page.price }}</div>
					<div class="size">{{ page.size }}</div>
					<div class="ingredient">
						{% if page.ingredient.size > 0 %}
							{% for item in page.ingredient %}
								{{ item.item }}
							{% endfor %}
						{% endif %}
					</div>
					<div class="introduction">{{ page.introduction }}</div>
					<div class="use">{{ page.use }}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>